
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* media shelf logo */
.logo   {
    margin-left: 10px;
}

/* navigation */
.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding-right: 50px;
   
}

 
/* hero */
.welcome {
    font-style: italic;
    
}

.rows{
    display: flex;
    flex-direction: column;
}


/* movie and book image container */
.movie-image-container{
    background-image: url("./images/movies-image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 500px;
    margin-bottom: 25px;

}

.book-image-container {
    background-image: url("./images/books-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 500px;
    margin-bottom: 25px;

}

/* "your suggestion awaits...*/
.search-prompt-container{
    display: flex;
    justify-content: center;

}

/* movie and book title inputs */
input {
    word-wrap: break-word; 
    overflow:auto;
  
}

.bookInput{
   margin-bottom: 9px;
   margin-top: 10px;
}

.opacity {
    opacity: 50%;
}

/*  container and titles for saved movies and books */
.saved-movie-title, .saved-book-title {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.saved-movies, .saved-books {
    border-bottom: 1px solid black;
    width: fit-content;
    display: flex;

}

/* movie and book note */
.note-movie-container, .note-book-container {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;

}

/* saved section for movies and book list */
.saved-section {
    display: flex;
    justify-content: center;
}

/* google button */
.google {
    display: flex;
    justify-content: center;
}

/* footer */
footer {
    height: 100px;
}



/* food container for grubhub button */
.food-container {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.food-section-title {
    margin-bottom: 25px;
    font-size: 20px;
}

 .grubhubBtn {
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 100px, 100px, 100px, 100px;
    display: flex !important;
    justify-content: center !important;
}

/* remove button for individual list items */
.singleItemDelete {
    margin-left: 8px;
    background-color: transparent;
    border-color: #f14668;
    color: #f14668;
    border-width: 1px;
    cursor: pointer;
    border-radius: 3px;

    
}








